/*GLOBALES*/
*{
    margin: 0;
    padding: 0;
    
}

html{
    font-size:62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 25px
}

/*HEADER*/
.gridContainerHeader{
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px;
    align-content: stretch;
    align-items: center;
}

.gridContainerHeader li a:hover{
    height: 100%;
    width: 100%;
    background-color: white;
}

.gridContainerHeader li a:active{
    height: 100%;
    width: 100%;
    color: red;
}

.li_container li{
    display: flex;
    list-style: none;
    justify-content: center;
}

.li_container li a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

/*main*/

.gridContainerContenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    grid-template-areas: 
    "h1 side"
    ;
    background-image: url(../img/Fondo\ de\ la\ pagina.webp);
    background-size: 50vw 100vh;
    background-repeat: no-repeat;
}

h1{
    font-size: 7rem;
    grid-area: h1;
}

.gridContainerSideContenido{
    grid-area: side;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "parrafo"
    "imagen";
}

.parrafoContainer{
    height: 100%;
    width: 100%;
    grid-area: parrafo;
    display: flex;
    align-items: center;
}

.imgContainer{
    grid-area: imagen;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.imgContainer img{
    height: 100%;
    width: 100%;
}

/* Sobre nosotros*/

.sobre_nosotros_grid_container{
    background-image: url(../img/Background_SobreNosotros.webp);
    display:grid;
    grid-template-areas:
    "header"
    "titulo"
    "contenido"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 7fr;
}

.sobre_nosotros_h1{
    grid-area: titulo;
}
.sobrenosotros{
    grid-area: contenido;
    width: 110rem;
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
}

/* Formulario */
.Formulario {
    height: 50%;
    width: 20rem;
    position: relative;
    top: 5rem;
    left: 7.5rem;
}

.email{
    margin-bottom: 10px;
    font-size: 24px;
}

.telefono{
    margin-bottom: 10px;
    font-size: 24px;
}

.consulta{
    display: flex;
    height: 100%;
    width: 200%;
    margin-bottom: 5px;
    font-size: 24px;
    min-width: 300px;
    max-height: 200px;
    max-width: 300px;
    min-height: 200px;
}

.enviar{
    display:flex;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 25px;
}

.mapa{
    display: flex;
    position: relative;
    left: 75rem;
    top: -400px;
}

/* Logos*/
.li_logos{
    display: flex;
    justify-content: flex-end;
}
.li_logos li{
    height: 5rem;
    list-style: none;
    text-decoration: none;
    margin-left: 10px;
}

/*FAQ*/

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 80%;
	margin: auto;
}

.pregunta {
	margin: 10px;
	max-width: 500px;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 1rem;
}

.pregunta_encabezado h3 {
	font-size: 1.5rem;
	margin: 0;
	cursor: pointer;
}

.respuesta {
	height: 0;
	opacity: 0;
}

.respuesta.activo {
	height: auto;
	opacity: 1;
}

/* Productos */

.cards_container{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.card {
    width: 190px;
    height: 254px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }
   

   .footer{
    display: flex;
    justify-content: flex-baseline;
   }

   .logos_footer{
    height: 50px;
    width: 50px;
   }

   /* logo wp*/

.logo_wp{
    height: 8rem;
    width: 8rem;
    position: sticky;
    top: 60rem;
    left: 140rem;
}

.img_wp{
    height: 100%;
    width: 100%;
}